body {
  font-family: "Circular", sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* carosello */
.dropdown-toggle::after {
  display: none;
}

.content {
  overflow-x: auto; /* Attiva lo scroll orizzontale */
  -ms-overflow-style: none; /* Nasconde la barra di scorrimento in IE e Edge */
  scrollbar-width: none; /* Nasconde la barra di scorrimento in Firefox */
}

/* Nasconde la barra di scorrimento in WebKit browsers (Chrome, Safari, etc.) */
.d-flex::-webkit-scrollbar {
  display: none;
}

.scrollable-container {
  position: relative;
  width: 100%;
}

.scrollable-container::before,
.scrollable-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.scrollable-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  opacity: 0;
}

.scrollable-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  opacity: 1;
}

.scrollable-container.start::before {
  opacity: 1;
}
.scrollable-container.start::after {
  opacity: 0;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* Search aside + dropdown */

/* .search-bar {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  border: 1px solid #ccc;
  padding: 5px 10px;
  position: absolute;
  left: 0;
  visibility: hidden;
}

.search-bar.clicked {
  width: 200px; 
  opacity: 1;
  visibility: visible;
  z-index: 1;
}*/
